{% extends "shablon.html" %}

{% block title %}
    Персонажи вселенной Гарри Поттера
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/Гарри.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                            <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/Гермиона.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img src="../static/image/Рон.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Заголовок карточки</h5>
                        <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                        <a href="#" class="btn btn-primary">{{link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
