{% extends 'base.html' %}

{% block title %}
    Города-миллионники современной России
{% endblock %}

{% block content %}

<div>
    <h1 class="text-center">Список крупных городов России</h1>
    <h4 class="text-center">
        В стране насчитывается 16 городов с населением более миллиона человек.<br>Некоторые из них преодолели этот рубеж лишь недавно: например, Красноярск, Краснодар, Воронеж и Пермь.
    </h4>

</div>
    <div class="container">
        <<div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/Msk3.png" class="card-img-top" alt="Москва">
                    <div class="card-body">
                        <h5 class="card-title">Москва</h5>
                        <p class="card-text">Численность: 13 104 177 человек<br>
                                             Субъект: город федерального значения<br>
                                             Год образования: 1147 (первое упоминание в летописи)<br>
                                             Статус миллионника: Москва была столицей России с 1389-го по 1712-й.
                                             Официально статус миллионника город получил в 1897 году после первой переписи населения в Российской империи.
                                             До 1960-х Москва и Санкт-Петербург были единственными городами в России, где проживало более миллиона человек.
                                             После революции, в 1918-м, Москва вновь стала столицей страны, а в 1922 году — также и столицей образовавшегося Советского Союза.
                                             В 2022-м, еще до того, как столица перешагнула порог в 13 млн жителей, мэр Сергей Собянин отметил,
                                             что на протяжении многих десятилетий Москва прирастает на миллион каждые десять лет.
                        </p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/SPb3.png" class="card-img-top" alt="СПб">
                    <div class="card-body">
                        <h5 class="card-title">Санкт-Петербург</h5>
                        <p class="card-text">Численность: 5 600 044 человека<br>
                                            Субъект: город федерального значения<br>
                                            Год образования: 1703<br>
                                            Миллионником Санкт-Петербург стал в 1888 году и с тех пор не терял этот статус.
                                            Город Петра I был столицей Российской империи с 1712-го по 1918-й. После начала Первой мировой войны,
                                            город стал столицей Советского Союза в 1914-м, из-за антигерманских настроений город переименовали в Петроград.
                                            В 1924 году, после смерти Владимира Ленина, бывшую столицу России вновь переименовали — в Ленинград.
                                            Лишь в 1991-м городу вернули историческое название — Санкт-Петербург.
                                            род переименовали в Петроград. В 1924 году, после смерти Владимира Ленина, бывшую столицу России вновь переименовали — в Ленинград.
                                            Лишь в 1991-м городу вернули историческое название — Санкт-Петербург.
                        </p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/Nvsb3.png" class="card-img-top" alt="Новосибирск">
                    <div class="card-body">
                        <h5 class="card-title">Новосибирск</h5>
                        <p class="card-text">Численность: 1 635 338 человек<br>
                                             Субъект: Новосибирская область<br>
                                             Год образования: 1893<br>
                                             Новосибирск — один из первых городов в России после Москвы и Санкт-Петербурга, который получил статус миллионника.
                                             Произошло это в 1962 году — всего через 70 лет после образования.
                                             Третий по численности населения город в России также неофициально называют столицей Сибири.
                        </p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}