{% extends 'base.html' %}

{% block title %}
    Города-миллионники царской России
{% endblock %}

{% block content %}

<div>
    <h1 class="text-center">Мегаполисы Российской империи</h1>
    <h4 class="text-center">
        Когда говорят о самых больших городах современной России, многие могут назвать с десяток городов-миллионников.<br>
        Но мало кто скажет, какими были десять самых крупных городов Российской империи в начале ХХ века.
    </h4>
</div>

    <div class="container">
        <<div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/Msk1.png" class="card-img-top" alt="Старая Москва">
                    <div class="card-body">
                        <h5 class="card-title">Москва</h5>
                        <p class="card-text">Этот город, несмотря на потерю статуса столицы в XVIII веке, продолжал играть большую экономическую роль.
                            Дело в том, что Москва к началу ХХ столетия стала крупнейшим логистическим узлом европейской части России.
                            Через город шли пути с севера на юг и с запада на восток. Разумеется, Москва развивалась не только с экономической точки зрения.
                            Здесь был один из центров культурной жизни Российской империи. Поэтому в начале прошлого века тут проживало 1,7 миллиона человек.
                            Получается, что Москва ненамного уступала Санкт-Петербургу в количестве населения.</p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/SPb1.png" class="card-img-top" alt="Старый Санкт-Петербург">
                    <div class="card-body">
                        <h5 class="card-title">Санкт-Петербург</h5>
                        <p class="card-text">Количество жителей города достигло 2,1 миллиона человек. Да, да. Всё верно.
                                             В начале ХХ века в Санкт-Петербурге жило больше людей, чем в Москве.
                                             Тогда город на Неве был столицей Российской империи, поэтому там была сосредоточена общественная жизнь.
                                             Но не только это стимулировало его быстрый рост. Не стоит забывать о порте, который играл огромную экономическую роль.
                                             Он способствовал привозу и вывозу большого количества товаров.
                                             Фактически Санкт-Петербург был одним из наиболее динамически развивающихся городов мира.
                                             Наверное, только Нью-Йорку и Лондону уступал..</p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 22rem;">
                    <img src="/../static/image/War1.png" class="card-img-top" alt="Старая Варшава">
                    <div class="card-body">
                        <h5 class="card-title">Варшава</h5>
                        <p class="card-text">Сегодня многие уже забыли о том, что в начале ХIX века часть современной Польши,
                            в том числе и её столица Варшава, входила в состав Российской империи. Сами поляки неоднозначно воспринимают этот период.
                            Несмотря на то, что в сегодняшних польских школах и университетах рассказывают о трудной жизни в составе России, Варшава активно развивалась.
                            Российские императоры не только не препятствовали этому, но и активно поощряли. Ведь они стремились, чтобы поляки ощущали себя как дома.
                            Такой подход способствовал снижению уровня напряжения в обществе. Поэтому в рассматриваемый период в Варшаве проживало почти 900 тысяч человек,
                            которые были полноправными гражданами Российской империи.</p>
                        <a href="#" class="btn btn-primary">{{ link }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}