.card {
    width: 400px;
    height: 650px;
    background-color: palegreen;
    border-radius: 60px;
}

.photo {
    height: 10%;
    padding: 40px;
    border-radius: 50px;
}

.info {
    height: 20%;
    padding: 40px;
    position: relative;
    top: 25%;
}

img {
    position: relative;
    left: 10%;
}

h1 {
    position: relative;
    left: 15%;
}